.app-container{
  display: flex;
}

.content{
  width:100%;
}

.sidebar{
  min-height: 100%;
  width: 200px;
}

.post-card{
  width: 30rem;
  margin: 20px 50px;
}
.hashtag{
  margin: 1px 3px;
}
.reactions{
  width:100%;
  margin: 15px 0 0 0;
}


.create-post{
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.htmlForm-label{
  display: flex;
}

.htmlForm-control{
  width: 80%;
}