
.home{
  background-color: #f9f9f9;
  /* font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif; */
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

.project{
  width: "18rem" ;
}

.project-image{
  width: inherit;
    height: 500px;
}

.project-content-center{
  margin-right: 30%;
}

.work{
  width: "18rem" ;
  max-width: 100%;
  margin-left: 28%;
}
/* .project-list{
  display: flex;
} */

.work-image{
  width: 477px;
  height: 500px;
}

.work-content-center{
  margin-right: 30%;
  margin-top: 150px;
}


/* .social-disc li a.twitter {
  background-position: 0px -598px;
  color: #189ACD;
} */